html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

button {
	cursor: pointer;
	&:disabled {
		cursor: not-allowed;
	}
}

:root, body, #root {
	width: 100%;
	height: 100%;
	font-family: "Oxygen", sans-serif;
}
