@import "../Mixins.scss";

.character-panel {
	display: flex;
	flex-direction: column;

	.actions {
		flex: 0 0 auto;
		display: flex;
		.action {
			@include buttonStyle;
			flex: 1 0 0;
		}
	}

	.character-select {
		flex: 0 0 auto;
		display: flex;
		.character {
			@include buttonStyle;
			text-align: center;

			>.name {
				font-weight: bold;
			}

			.job {
				font-size: 14px;
				border: none;
				background-color: transparent;
				&:hover {
					background-color: #afa;
				}
				&[aria-pressed=true] {
					background-color: #aaf;
				}
				&.nojob {
					font-style: italic;
				}
				&:disabled {
					color: #aaa;
				}
			}
		}
	}

	.stats {
		flex: 0 1 auto;
		overflow: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;

		.group {
			flex: 0 0 auto;
			margin: 4px;
			.name {
				font-size: 16px;
				margin: 0;
			}
			.l {
				font-size: 12px;
				margin: 0;

				&.obtained {
					background-color: #fff;
				}
				&.certain {
					background-color: #ddd;
				}
				&.possible {
					background-color: #ffa;
				}
				&.blocked {
					display: none;
				}
			}
		}
	}
}
