.dps-optimizer {
	display: flex;
	flex-direction: column;

	.controls {
		flex: 0 0 auto;

		.control {
			display: inline-block;
			padding: 2px;

			label {
				padding-right: 4px;
			}

			input[type=number] {
				width: 4em;
				text-align: right;
			}
		}
	}

	.results {
		overflow: auto;
		font-size: 12px;

		tr.data-row {
			&:hover {
				background-color: #efe;
			}
		}

		th {
			text-align: left
		}
		.r {
			text-align: right;
		}	
	}
}
