.dps-optimizer {
	display: flex;
	flex-direction: column;

	& .controls {
		flex: 0 0 auto;

		& .control {
			display: inline-block;
			padding: 2px;

			& input[type=number] {
				text-align: right;
				margin-left: 4px;

				&.d-1 { width: 2.2em; }
				&.d-2 { width: 3.0em; }
				&.d-3 { width: 3.8em; }
				&.d-4 { width: 4.6em; }
				&.d-5 { width: 5.4em; }
			}
			& input[type=checkbox] {
				margin-right: 4px;
			}

			& select {
				margin-left: 4px;
			}
		}
	}

	& .results {
		overflow: auto;
		font-size: 12px;

		& table {
			border-collapse: collapse;
		}

		&.busy {
			color: #aaa;
		}

		& tr:nth-child(even) {
			background-color: #f8f8f8;
		}

		& .sticky {
			background-color: #fff;
			position: sticky;
			height: 20px;
			top: 0;

			&.second-row {
				top: 20px;
			}
		}

		& th, & td {
			padding: 2px;
		}

		& tr.data-row {
			&:hover {
				background-color: #efe;
			}
		}

		& th {
			text-align: left
		}
		& .r {
			text-align: right;
		}	
	}
}
