@keyframes octocat-wave {
	0%,100% {
		transform:rotate(0);
	}
	20%,60% {
		transform:rotate(-25deg);
	}
	40%,80% {
		transform:rotate(10deg);
	}
}
.github-corner {
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
	pointer-events: none;

	& svg {
		color: #fff;
		fill: #000;
		display: block;
		
		& g {
			pointer-events: initial;
			&:hover .octo-arm {
				animation:octocat-wave 560ms ease-in-out;
			}
			& .octo-arm {
				transform-origin: 130px 106px;
			}
		}
	}
}
