.license-board-holder {
	overflow: scroll;
	.license-board {
		border-spacing: 0;
		background-color: #333;

		td {
			min-width: 80px;
			max-width: 80px;
			height: 80px;
			padding: 4px;
			position: relative;
			vertical-align: top;
			&.l {
				cursor: pointer;
				box-shadow: inset 0 0 2px #000;
				@mixin hoverShadow($color) {
					&:hover {
						box-shadow: inset 0 0 8px $color;
					}
				}
				&.obtained {
					background-color: #fff;
					@include hoverShadow(#f00);
				}
				&.certain {
					background-color: #ddd;
					@include hoverShadow(#0a0);
				}
				&.possible {
					background-color: #ffa;
					@include hoverShadow(#0a0);
				}
				&.blocked {
					background-color: #fbb;
					@include hoverShadow(#f00);
				}
				.name {
					font-size: 10px;
				}

				.cost {
					font-size: 24px;
					font-weight: bold;
					position: absolute;
					bottom: 4px;
					right: 4px;
				}
			}
		}
	}
}

.select-job {
	display: grid;
	justify-content: center;
	align-content: center;
	background-color: #aaa;

	.job {
		margin: 2px;
		border: 2px solid black;
		border-radius: 6px;
		padding: 6px;
		text-align: center;
		background-color: white;
		&:hover {
			background-color: #efe;
		}
		&:disabled {
			background-color: #ccc;
			color: #999;
			border-color: #999;
		}
	}
}