.license-board-holder {
	overflow: scroll;
	.license-board {
		border-spacing: 0;

		td {
			min-width: 80px;
			max-width: 80px;
			height: 80px;
			padding: 4px;
			position: relative;
			vertical-align: top;

			&.obtained {
				background-color: #fff;
				box-shadow: inset 0 0 5px #555;
			}
			&.certain {
				background-color: #ddd;
				box-shadow: inset 0 0 5px #333;
			}
			&.possible {
				background-color: #ffa;
				box-shadow: inset 0 0 5px #660;
			}
			&.blocked {
				background-color: #fbb;
				box-shadow: inset 0 0 5px #700;
			}
			.name {
				font-size: 10px;
			}

			.cost {
				font-size: 24px;
				font-weight: bold;
				position: absolute;
				bottom: 4px;
				right: 4px;
			}
		}
	}
}
