@import "../Mixins.scss";

.license-board-holder {
	overflow: auto;
	background-color: #333;

	.license-board {
		border-spacing: 0;

		td {
			min-width: 80px;
			max-width: 80px;
			height: 80px;
			padding: 4px;
			position: relative;
			vertical-align: top;
			&.l {
				@include licenseShared;

				.name {
					font-size: 10px;
				}

				.cost {
					font-size: 24px;
					font-weight: bold;
					position: absolute;
					bottom: 4px;
					right: 4px;
				}
			}
		}
	}
}

.select-job {
	display: grid;
	justify-content: center;
	align-content: center;
	background-color: #aaa;

	.job {
		@include buttonStyle;
		line-height: 32px;
		text-align: left;

		.zodiac {
			height: 32px;
			float: right;
			margin-left: 20px;
		}
	}
}