@position-try --try-top {
	bottom: anchor(top);
	top: unset;
}

.tooltip {
	position: fixed;
	position-anchor: --tooltip;
	top: anchor(bottom);
	justify-self: anchor-center;
	position-try-fallbacks: --try-top;

	white-space: pre-wrap;
	font-size: 12px;
	color: #fff;
	padding: 6px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.7);
	pointer-events: none;

	&.hidden {
		display: none;
	}
}
