.qe-board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;

	text-align: center;

	>* {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.character-name, .license-name {
		font-weight: bold;
		font-size: 14px;
	}

	.job {
		font-size: 12px;
		&.nojob {
			font-style: italic;
		}
	}

	.l {
		box-shadow: inset 0 0 2px #000;
		font-size: 12px;

		&.unreachable {
			background-color: #ddd;
			color: #888;
			font-style: italic;
		}
	}
}
