@import "./Mixins.scss";

.vex.vex-theme-plain {
	padding-top: 160px;
	padding-bottom: 160px;
	.vex-content {
		border-radius: 6px;
		background: #fff;
		color: #000;
		padding: 1em;
		position: relative;
		margin: 0 auto;
		max-width: 100%;
		width: 450px;
		font-size: 20px;
	}
	h1, h2, h3, h4, h5, h6, p, ul, li {
		color: inherit;
	}
	.vex-close {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		&:before {
			position: absolute;
			content: "\00D7";
			font-size: 26px;
			font-weight: normal;
			line-height: 31px;
			height: 30px;
			width: 30px;
			text-align: center;
			top: 3px;
			right: 3px;
			color: #bbb;
			background: transparent;
			&:hover, &:active {
				color: #777;
				background: #e0e0e0;
			}
		}
	}

	.vex-dialog-form {
		.vex-dialog-message {
			margin-bottom: .5em;
		}
		.vex-dialog-input {
			margin-bottom: 1em;
		}
		.vex-dialog-buttons {
			*zoom: 1;
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
	}

	.vex-dialog-button {
		@include buttonStyle;
		float: right;
		min-width: 100px;
	}
}

.vex-loading-spinner.vex-theme-plain {
	height: 2.5em;
	width: 2.5em;
}
