@mixin buttonStyle {
	margin: 2px;
	border: 2px solid #000;
	border-radius: 6px;
	padding: 6px;
	background-color: #fff;
	&:hover {
		background-color: #efe;
	}
	&:disabled {
		background-color: #ccc;
		color: #999;
		border-color: #999;
		img {
			opacity: 0.3;
		}
	}
	&[aria-pressed=true] {
		border-color: #33f;
		background-color: #eef;
	}
}

@mixin hoverShadow($color) {
	&:hover {
		box-shadow: inset 0 0 8px $color;
	}
}

@mixin licenseBorderShared {
	box-shadow: inset 0 0 2px #000;
}

@mixin licenseShared {
	cursor: pointer;
	&.obtained {
		background-color: #fff;
		@include hoverShadow(#f00);
	}
	&.certain {
		background-color: #ddd;
		@include hoverShadow(#0a0);
	}
	&.possible {
		background-color: #ffa;
		@include hoverShadow(#0a0);
	}
	&.blocked {
		background-color: #fbb;
		@include hoverShadow(#f00);
		cursor: not-allowed;
	}
	&.unreachable {
		@include hoverShadow(#f00);
		cursor: not-allowed;
	}
	&.planned {
		background-color: #afa;
	}
}
